<div class='flip-container'>
	<div class='flipper'>
		<div class='card front'>
			<%= markdown @card.front %>
		</div>

		<div class='card back'>
			<%= markdown @card.back %>
		</div>
	</div>
</div>
