div.card {
	border: 1px solid black;
	height: 12em;
	overflow: hidden;
	padding: 1em;
	width: 26em;

	&.hidden {
		display: none;
	}
}

form.edit_card, form.new_card {
	textarea {
		height: 12em;
		width: 26em;
	}

	label {
		vertical-align: top;
	}
}
