<%= link_to 'Home', root_path, :class => 'brand' %>
<ul class='nav'>
	<li>
		<%= link_to 'New', new_card_path %>
	</li>
	<li>
		<%= link_to 'Random', cards_path %>
	</li>
	<% if @card && @card.id %>
	<li>
		<%= link_to 'Edit', edit_card_path(@card) %>
	</li>
	<% end %>
</ul>
